--
-- PostgreSQL database dump
--

\restrict ZZgvhqP79kPBPrF7q8GHGvcqGNeSPPJG4gJaKDxbMZbnZ0Y9K6PaLQOFeyhB5F7

-- Dumped from database version 17.6 (Debian 17.6-2.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-2.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: metrics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.metrics (
    id uuid NOT NULL,
    recorded_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    environment character varying(50),
    host_name character varying(100),
    class_name character varying(255),
    method_name character varying(255),
    duration_ns bigint,
    metadata jsonb
);


ALTER TABLE public.metrics OWNER TO postgres;

--
-- Name: secure_cards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.secure_cards (
    id uuid NOT NULL,
    title character varying(100) NOT NULL,
    holder_name character varying(100) NOT NULL,
    encrypted_card_number character varying(255) NOT NULL,
    encrypted_cvv character varying(50) NOT NULL,
    card_fingerprint character varying(64),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.secure_cards OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(128) NOT NULL,
    salt character varying(50) NOT NULL,
    role character varying(20) NOT NULL,
    is_blocked boolean DEFAULT false NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: metrics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: secure_cards; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.secure_cards (id, title, holder_name, encrypted_card_number, encrypted_cvv, card_fingerprint, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 12, true);


--
-- Name: metrics metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.metrics
    ADD CONSTRAINT metrics_pkey PRIMARY KEY (id);


--
-- Name: secure_cards secure_cards_card_fingerprint_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.secure_cards
    ADD CONSTRAINT secure_cards_card_fingerprint_key UNIQUE (card_fingerprint);


--
-- Name: secure_cards secure_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.secure_cards
    ADD CONSTRAINT secure_cards_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_metrics_method_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_metrics_method_time ON public.metrics USING btree (class_name, method_name, recorded_at DESC);


--
-- Name: idx_metrics_recorded_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_metrics_recorded_at ON public.metrics USING btree (recorded_at DESC);


--
-- PostgreSQL database dump complete
--

\unrestrict ZZgvhqP79kPBPrF7q8GHGvcqGNeSPPJG4gJaKDxbMZbnZ0Y9K6PaLQOFeyhB5F7

